/* main */
.add-btn-wrap{
    width: 1796px;
    height: 58px;
    margin: 0 auto;
    padding: 0 10px 10px 0;
    display: flex;
    justify-content: right;
    align-items: end;
}

.add-btn-mark{
    width: 18px;
    height: 18px;
    background-color: #2277e6;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;   
    line-height: 16px;
    text-align: center;
    margin-right: 4px;
}

.add-btn-text{
    font-size: 14px;
    font-weight: 600;
    color: #2277e6;
    cursor: pointer;
}

.add-btn-mark:hover ~ .add-btn-text, .add-btn-text:hover{
    text-decoration: underline;
}

.table-container{
    width: 1796px;
    height: 697px;
    margin: 0 auto;
    padding: 9px 30px 113px;
    border-radius: 8px;
    border: solid 1px #d7dbe6;
    background-color: #fff;
}

table{
    width: 1736px;
    height: 48px;
    margin: 1px 0 0;
    padding: 15px 209px 15px 31px;
    border-collapse: collapse;
}

tr{
    display: block;
    border-bottom: 1px solid #e1e4eb;
}

thead tr{
    border-bottom: 1px solid #828ca7;
}

tbody tr{
    border-bottom: 1px solid #e1e4eb;
}

tbody tr:hover{
    background-color: #f1f7ff;
}

tbody{
    display: block;
    height: 480px;
    overflow-y: scroll;
}

th{
    font-size: 13px;
    height: 38px;
    cursor: pointer;
}

td{
    height: 48px;
    font-size: 14px;
}

tr th, tr td{
    text-align: center;
}

/* 80, 400, 264, 264, 264, 264, 60, 60 */
/* password column 없어지면서 width 임시 변경 */
tr td:nth-child(1), th:nth-child(1){
    width: 150px;
}

tr td:nth-child(2), th:nth-child(2){
    width: 450px;
    text-align: left;
}

tr :nth-child(n+3):nth-child(-n+5){
    width: 284px;
}

tr :nth-child(n+6):nth-child(-n+7){
    width: 80px;
}

.edit-btn, .delete-btn{
    width: 18px;
    height: 18px;
    cursor: pointer;
}


.pagination-wrap{
    height: 120px;
    display: flex;
    justify-content: right;
    align-items: end;
}

.pagination-wrap label{
    height: 38px;
    align-content: center;
    color: #828ca7;
    margin-bottom: 16px;
    font-size: 14px;
}

.items-per-view{
    width: 48px;
    height: 38px;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    margin: 0 10px 16px 6px;
    padding: 0 4px 0 6px;
    outline: 0;
    font-size: 14px;
}

.pagination, .pagination-lists{
    display: flex;
}

.pagination-lists{
    justify-content: center;
    align-items: center;
    padding: 0;
}

.pagination-lists li{
    width: 32px;
    height: 32px;
    margin-right: 6px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

.pagination-lists li:hover{
    background-color: #dde0e6;
    color: #091e42;
}

.active, .active:hover{
    background-color: #2684ff !important;
    color: #fafafa !important;
}

/* scroll */

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
    width: 10px;  
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #2684ff; /* 스크롤바 색상 */
    background: #ddd;
    border-radius: 4px;
    /* border: 1px solid #2684ff; */
}

.scrollbar::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);  /*스크롤바 뒷 배경 색상*/
}